<div>  
  <h1>{{ message }}</h1>
</div>

<div class="jumbotron text-center">
	<form name="userForm">
		  <div data-ng-show="error" class="alert alert-warning">
			 {{errorMessage}}
		  </div>
	      <input placeholder="Username" style="margin-bottom:20px; width:270; height: 35px;"; name="name" type="text" data-ng-model="user.username" ng-maxlength="9" />
	      <br />
	      <label style="width: 270px; width: 270px;" class="btn btn-default btn-file">
			    Select File <input type="file" data-ng-model='loadedImage' base-sixty-four-input style="display: none"/>
		  </label>
	      <br />
	      <label data-ng-show="loadedImage" >{{ loadedImage.filename }}</label>
	      <br />
	      <input style="width: 270px;" type="button" data-ng-click="submit()" class="btn btn-primary" value="Login" />
	  </form>
</div>